body {
    padding: 0;
    margin: 0;
}
html, body {
    height: 100%;
    width: 100%;
}
#mapid {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

dl {
        padding: 10px;
}
dt {
float: left;
clear: left;
width: 100px;
text-align: left;
}
dt::after {
content: ":";
}
dd {
margin: 0 0 0 110px;
padding: 0 0 0.5em 0;
}