body {
    padding: 0;
    margin: 0;
}
html, body {
    height: 100%;
    width: 100%;
}
#mapid {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.mapboxgl-popup-content {
    white-space: nowrap;
}
.mapboxgl-popup-content dl {
  padding: 10px;
}
.mapboxgl-popup-content dt {
  float: left;
  clear: left;
  width: 100px;
  text-align: left;
}
.mapboxgl-popup-content dt::after {
  content: ":";
}
.mapboxgl-popup-content dd {
  margin: 0 0 0 110px;
  padding: 0 0 0.5em 0;
}
